:root {
	--smallFontSize: 10pt;
	--scoreFontSize: 12pt;
	--fontSize: 12pt;
	--pFontSize: 18px;
  --popDisplay: none;
}


html, body {
	margin: 0px;
	 justify-content: center;
  background-color: #ffffff
}

a {
  color: #1f4ba3;
  font-weight: bold;
}

header {
  font-size: 64px;
  font-weight: bold;
  color: #1f4ba3;
}

header#page-header {
	display: inline-block;
}

p {
	line-height: 1.6;
	font-family: 'Montserrat', sans-serif;
  font-size: var(--pFontSize);
}

#board {
  overscroll-behaviour: contain;
}

.grid-container {
	padding-top: 50px;
	margin: 0px auto;
	max-width: 900px;
  
	border-left: 1px solid #c0b4b4;
	border-top: 10px solid #6c7999;
	border-radius: 5px;
	box-shadow: 5px 0px 3px #6c7999;
  display: grid;
	font-family: 'Montserrat', sans-serif;
	
  place-items: center;
	align-items: center;
}

.grid-item {
	width: 620px;
}


div.borders {
	border-top: 1px solid #c0b4b4;
/*   margin-left: 0; */
}


scores {
/* 	padding: 1%; */
  padding: 0.5% 1% 2%;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	column-gap: 7px;
	row-gap: 7px;
	display: inline-grid;
	float: right;
	text-align: right;
  width: 240px;
  cursor: pointer;
}

scores:hover,
scores:focus {
  box-shadow: 0 0 20px rgba(0, 0, 0, .30);
}



score {
	text-align: center;
	display: inline-block;
	position: relative;
	padding: 7px 10px;
	/* border-radius: 5px; */
	color: #fff;
	background: #1c68ba;
	line-height: 1.3;
}

div.score-title {
	color: #cbb9b9;
	font-size: 10pt;/* var(--smallFontSize); */
	font-weight: bold;
	padding-top: 0px;
	text-align: left;
}

div.score-entry {
	font-size: 12pt;/* var(--scoreFontSize); */
	font-weight: bold;
}

/* Above is new score css */

#left-title {
	display: inline-block;
}

#officer-table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.avatar {
	border-radius: 0;
  width: auto;
	height: 9rem;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, .30);
}

.officer-data {
    text-align: left;
    padding: 0px 20px 50px;
}

.btn {
  margin: 0px 8px;
	font-size: 20pt;
	padding: 3px 14px 1px;
	color: #fff;
	background: #307dcf;
	border: 1px solid #307dcf;
}

.btn:hover:not(.btn-danger) {
	background: #173c63;
	border: 1px solid #173c63;
  color: #fff;
}

.btn:focus:not(.btn-danger) {
	border: 1px solid #98acdd;
	background: #98acdd;
  color: #fff
}

.btn-danger {
	background: #dc3545;
	border: 1px solid #dc3545
}

.btn-danger:hover {
	background: #c82333;
	border: 1px solid #bd2130;
}

.btn-danger:focus {
	box-shadow: 0 0 0 0.2rem rgb(220 53 69 / 50%);
}

#win-buttons {
  padding-top: 10px;
}
#win-buttons.button {
  color: #000;
  border-radius: 0;
}


#pop-up {
	display: var(--popDisplay);
	position: fixed;
	border-radius: 20px;
	bottom: calc((100vh - 300px) / 2);
	left: calc((100vw - 600px) / 2 - 10px);
	background: #fff;
	width: 600px;
	height: 300px;
	text-align: center;
	padding: 50px 40px 40px 40px;
	z-index: 1;
  box-shadow: 0px 0px 200px rgba(0, 0, 0, 1);
}


#pop-up h1 {
  color: #1f4ba3;
  padding: 10px 0px;
  font-size: 48px;
}