:root {
	--smallFontSize: 10pt;
	--scoreFontSize: 12pt;
	--fontSize: 12pt;
	--pFontSize: 18px;
}

/* Foster. I have gotten rid of the restart and copy link buttons.
Restart button is now integrated into the game

Problem is, the format is off now. Could you fix it?
*/

html, body {
	margin: 0px;
	 justify-content: center;
  background-color: #ffffff
}


#win-buttons {
  padding-top: 25px;
}


a {
  color: #1f4ba3;
  font-weight: bold;
}

header {
  font-size: 64px;
  font-weight: bold;
  color: #1f4ba3;
}

header#page-header {
	display: inline-block;
}

p {
	line-height: 1.6;
	font-family: 'Montserrat', sans-serif;
  font-size: var(--pFontSize);
}

#board {
  overscroll-behaviour: contain;
}

.grid-container {
	padding-top: 50px;
	margin: 0px auto;
	max-width: 900px;
  
	border-left: 1px solid #c0b4b4;
	border-top: 10px solid #6c7999;
	border-radius: 5px;
	box-shadow: 5px 0px 3px #6c7999;
  display: grid;
	font-family: 'Montserrat', sans-serif;
	
  place-items: center;
	align-items: center;
}

.grid-item {
	width: 620px;
}


div.borders {
	
	border-top: 1px solid #c0b4b4;
}

div.padder {
	
}


scores {
/* 	padding: 1%; */
  padding: 0.5% 1% 2%;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	column-gap: 7px;
	row-gap: 7px;
	display: inline-grid;
	float: right;
	text-align: right;
  width: 240px;
/*   cursor: pointer; */
}

/* scores:hover,
scores:focus {
  box-shadow: 0 0 20px rgba(0, 0, 0, .15);
} */



score {
	text-align: center;
	display: inline-block;
	position: relative;
	padding: 7px 10px;
	/* border-radius: 5px; */
	color: #fff;
	background: #1c68ba;
	line-height: 1.3;
}

div.score-title {
	color: #cbb9b9;
	font-size: 10pt;/* var(--smallFontSize); */
	font-weight: bold;
	padding-top: 0px;
	text-align: left;
}

div.score-entry {
	font-size: 12pt;/* var(--scoreFontSize); */
	font-weight: bold;
}

/* Above is new score css */

#left-title {
	display: inline-block;
}

.btn {
  margin: 0px 10px;
	font-size: 20pt;
	padding: 5px 10px;
	color: #fff;
	background: #307dcf;
	border: 1px solid #307dcf;
}
.btn:hover {
	background: #173c63;
	border: 1px solid #173c63;
}

.btn:focus {
	border: 1px solid #98acdd;
	background: #98acdd;
}
